.form-canvas {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: repeat(4, 75px);
  gap: 16px;
  padding: 32px;
  width: fit-content;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: var(--diffuse-shadow);
  border: 1px solid #ccc;
}
